<mat-card>
    <mat-card-header>
        <mat-card-title>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, explicabo.</mat-card-title>
        <mat-card-subtitle>30.01.2021 13:03</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore omnis laudantium enim tempora nulla earum libero? Amet, ducimus. Quibusdam doloremque, enim deleniti distinctio perspiciatis inventore possimus veniam dolores perferendis aperiam omnis veritatis nemo id laborum reiciendis impedit dicta iusto vero.</span>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button>Открыть</a>
    </mat-card-actions>
</mat-card>