<mat-card class="login">
    <mat-card-header>
        <b>Login as admin</b>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loginFormGroup" (submit)="submit()">
            <p>
                <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="samplemail@gmail.ru">
                <mat-error *ngIf="loginFormGroup.get('email').errors?.required">
                    Please fill that field
                </mat-error>
                <mat-error *ngIf="loginFormGroup.get('email').errors?.email">
                    Must be a valid email address
                </mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Your password">
                    <mat-error *ngIf="loginFormGroup.get('password').errors?.required">
                    Please fill that field
                    </mat-error>
                </mat-form-field>
            </p>
            <p>
                <button color="primary" mat-raised-button type="submit" [disabled]="loginFormGroup.invalid || submitted">Log in</button>
            </p>
        </form>
    </mat-card-content>
</mat-card>