mat-card {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;

    mat-card-header {
        display: flex;
        justify-content: center;
        align-content: center;

        &::ng-deep .mat-card-header-text {
            margin: 0;
        }
    }
}

