<mat-card class="post" *ngIf="post; else loading">
    <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>Published by <b>{{ post.author }}</b> on {{ post.date | date:'dd.MM.yyyy hh:mm' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span>{{ post.text }}</span>
    </mat-card-content>
    <mat-card-actions>
        <a [routerLink]="['/']" mat-raised-button color="warn" class="main-page-link">Close</a>
    </mat-card-actions>
</mat-card>
<ng-template #loading>
    <mat-spinner diameter="30"></mat-spinner>
</ng-template>