mat-drawer-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
}

mat-dawer-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;    
}

mat-drawer {
    // padding: 20px;
    width: 100%;
    max-width: 800px;
    height: 100%;
    box-sizing: border-box;

    mat-list-option {
        width: 100%;
    }

    
}

.container {
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
}